<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">  
      
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>glore.UserLoginServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>login	</servlet-name>
        <url-pattern>/userLoginServlet</url-pattern>
    </servlet-mapping>
   
      <servlet>
        <servlet-name>userregistservlet</servlet-name>
        <servlet-class>glore.UserRegistServlet</servlet-class>
    </servlet>
    
      <servlet-mapping>
        <servlet-name>userregistservlet</servlet-name>
        <url-pattern>/userRegistServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>creategloretaskservlet</servlet-name>
        <servlet-class>glore.CreateGloreTaskServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>creategloretaskservlet</servlet-name>
        <url-pattern>/creategloretaskservlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BeforeCreateGloreTaskServlet</servlet-name>
        <servlet-class>glore.BeforeCreateGloreTaskServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BeforeCreateGloreTaskServlet</servlet-name>
        <url-pattern>/beforeCreateGloreTaskServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>echo</servlet-name>
		<servlet-class>EchoServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>echo</servlet-name>
		<url-pattern>/echo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>checkready</servlet-name>
		<servlet-class>glore.checkReadyServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>checkready</servlet-name>
		<url-pattern>/checkready</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>useruploadservlet</servlet-name>
		<servlet-class>glore.UserUploadServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>useruploadservlet</servlet-name>
		<url-pattern>/useruploadservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>gloreserverservlet</servlet-name>
		<servlet-class>glore.GloreServerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>gloreserverservlet</servlet-name>
		<url-pattern>/gloreserverservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>gstest</servlet-name>
		<servlet-class>glore.GSTest</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>gstest</servlet-name>
		<url-pattern>/gstest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mcstest</servlet-name>
		<servlet-class>glore.MCSTest</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>mcstest</servlet-name>
		<url-pattern>/mcstest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>beforecalservlet</servlet-name>
		<servlet-class>glore.BeforeCalculateServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>beforecalservlet</servlet-name>
		<url-pattern>/beforecalservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>testcomparator</servlet-name>
		<servlet-class>glore.TestComparator</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>testcomparator</servlet-name>
		<url-pattern>/testcomparator</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>testupload</servlet-name>
		<servlet-class>glore.TestUpload</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>testupload</servlet-name>
		<url-pattern>/testupload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getreportservlet</servlet-name>
		<servlet-class>glore.GetReportServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>getreportservlet</servlet-name>
		<url-pattern>/getreportservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getlocalreportservlet</servlet-name>
		<servlet-class>glore.GetLocalReportServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>getlocalreportservlet</servlet-name>
		<url-pattern>/getlocalreportservlet</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>checktasknameservlet</servlet-name>
		<servlet-class>glore.CheckTasknameServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>checktasknameservlet</servlet-name>
		<url-pattern>/checktasknameservlet</url-pattern>
	</servlet-mapping>
        
      <servlet>
		<servlet-name>checkregisteremailservlet</servlet-name>
		<servlet-class>glore.CheckRegisteremailServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>checkregisteremailservlet</servlet-name>
		<url-pattern>/checkregisteremailservlet</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>gettaskpropertyservlet</servlet-name>
		<servlet-class>glore.GettaskPropertyServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>gettaskpropertyservlet</servlet-name>
		<url-pattern>/gettaskpropertyservlet</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>UpdateRegist</servlet-name>
		<servlet-class>glore.UpdateRegist</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdateRegist</servlet-name>
		<url-pattern>/UpdateRegist</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetTaskNameList</servlet-name>
		<servlet-class>glore.GetTaskNameList</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetTaskNameList</servlet-name>
		<url-pattern>/getTaskNameList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetProfile</servlet-name>
		<servlet-class>glore.GetProfile</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetProfile</servlet-name>
		<url-pattern>/getProfile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetCollaborator</servlet-name>
		<servlet-class>glore.GetCollaborator</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetCollaborator</servlet-name>
		<url-pattern>/getCollaborator</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>CheckDupTaskName</servlet-name>
		<servlet-class>glore.CheckDupTaskName</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CheckDupTaskName</servlet-name>
		<url-pattern>/checkDupTaskName</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetTaskInfo</servlet-name>
		<servlet-class>glore.GetTaskInfo</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetTaskInfo</servlet-name>
		<url-pattern>/getTaskInfo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetComputeParam</servlet-name>
		<servlet-class>glore.GetComputeParam</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetComputeParam</servlet-name>
		<url-pattern>/getComputeParam</url-pattern>
	</servlet-mapping>
	
</web-app>